# Machine Learning Summer
# Course Author: Eng. Ahmed MÃ©twalli

# Welcome
This notebook verifies the environment and loads `iris.csv`.

In [1]:

import sys
import pandas as pd
import numpy as np
import sklearn

print('Python', sys.version)
print('pandas', pd.__version__)
print('numpy', np.__version__)
print('sklearn', sklearn.__version__)

Python 3.11.12 (main, Jul  9 2025, 20:27:46) [GCC 13.3.0]
pandas 2.3.1
numpy 2.3.1
sklearn 1.7.1

In [2]:

import pandas as pd
iris = pd.read_csv('../data/iris.csv')
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

## Exercises
- Change the path to load another dataset.